* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Golos UI", sans-serif;
}

.img {
    width: 322px;
    height: 322px;
}

.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.sidebar {
    display: flex;
    flex-direction: column;

}

.menu__sidebarIcon {

    margin: 16px;
    width: 24px;
    height: 24px;
    margin: 16px;
    position: relative;
    left: 0;
    cursor: pointer;
}

.menu {
    position: fixed;
    max-width: 74px;
    height: 100%;
    width: 80px;
    border: 2px solid #2222220D;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0%;
    padding-top: 40px;

}