* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh; /* Минимальная высота = высоте экрана */
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;     /* Центрирование по вертикали */
}

.info {
    color: #222222;
    font-family: "Golos UI";
}

.title {
    font-family: "Golos UI", sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    color: #222222;
    letter-spacing: -1.5px;
    position: absolute;
    top: -106.63px;
    left: -90px;
}

.image {
    max-width: 100%;
}

.form {
    width: 343px;
    height: 251px;
}


.label {
    display: block;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    color: #222222;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}

.input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #000000;
    background-color: #F2F3F5;
    border-radius: 10px;
    padding: 13px 12px;
    font: 400 15px/1.2 "Golos UI", sans-serif;
    transition: border 0.3s ease;
    outline: none;
}

.input:focus {
    border: 1px solid #3F8AE0;
}

.input-info {
    display: block;
    margin-bottom: 15px;
    font: 400 13px/ 1.2 "Golos UI", sans-serif;
    color: #808080; 
}

.button {
    display: block;
    margin-top: 32px;
    width: 100%;
    font: 500 16px "Golos UI", sans-serif;
    background-color: #222222;
    border-radius: 10px;
    padding: 14.5px;
    border: 2px solid #222222;
    color: #FFFFFF;
}

.button:focus {
    border: 2px solid #3F8AE0
}

.button:disabled {
    border: 2px solid #b4b4b4;
    background-color: #b4b4b4;
}

.logIm {
    width: 462px;
    height: 501px;
    display: block;
    
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 60px;            
}

.enter{
   justify-content: center;
   width: 343px; 
   height: 251px; 
}

.decor{
    position: relative;
}